ul{
    overflow:auto;
}

ul li{
    list-style-type:none;
    float:left;
}
ul li a i{
    background: #777;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    padding-top: 15%;
    transition: all 0.2s ease-in-out;
}

.fa-facebook {
    background:#3b5998;
} 
.fa-linkedin {
    background:#007bb6;
}
.fa-github {
    background:#777;
}
.fa-google-plus {
    background:#d9534f;
}
ul li a i:hover {
    opacity: .7;
}
